pyinstaller==6.21.0
pillow==12.3.0
openpyxl==3.1.5
websocket-client==1.9.0
pystray==0.19.5
paramiko==4.0.0
pywebview==6.2.1
pythonnet==3.1.0
PyAudioWPatch==0.2.12.8
process-audio-capture==1.0.0
pycaw==20251023
comtypes==1.4.16
onnxruntime==1.29.0
numpy==2.5.2
